
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <ul class="list-unstyled">
                    <a href="'home'"><li>HOME</li></a>
                    <a href="'info'"><li>INFO</li></a>
                    <a href="'reserveer'"><li>RESERVEER</li></a>
                    <a href="'contact'"><li>CONTACT</li></a>
                    <a href="'voorwaarden'"><li>ALGEMENE VOORWAARDEN</li></a>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-self-center">
                <img alt="logo" src="assets/images/logo.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-self-center d-flex justify-content-end">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
</div>
